<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="mesh_visual" params="mesh material xyz rpy">
    <visual>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <geometry>
        <mesh filename="package://${description_package}/meshes/${mesh}" scale="${mesh_scale}"/>
      </geometry>
      <material name="${material}"/>
    </visual>
  </xacro:macro>

  <xacro:macro name="box_collision" params="xyz rpy size">
    <collision>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <geometry>
        <box size="${size}"/>
      </geometry>
    </collision>
  </xacro:macro>

  <xacro:macro name="cylinder_collision" params="xyz rpy radius length">
    <collision>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <geometry>
        <cylinder radius="${radius}" length="${length}"/>
      </geometry>
    </collision>
  </xacro:macro>
</robot>
